body{
    background-color: gray;
    align-content: center;
}

#container{
    align-self: center;
    background-color: white;
    width: 600px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#header{
    background-color: cornflowerblue;
    color: white;
    text-align: center ;
}
#header>h1{
    font-size: 40px;
}

#SingUp{
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 2px;
}
#but{
    align-items: end;
    alignment: right;
}
button{
    height: 55px;
    width: 292px;
    margin-right: 3px;
    border: 5px solid cornflowerblue;
    size: 10px;
    font-size: 20px;
    color: cornflowerblue;
    border-radius: 4px;
    background-color: white;

}
#but>#submit{
    margin-right: 0;
    margin-left: 9px;
}
input{
    color: cornflowerblue;
    border: 3px solid cornflowerblue;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 18px;
}
input>p{
    color: cornflowerblue;
}

button:hover{background-color: cornflowerblue; color: white;}